parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - vendor
        - tests/ReservationPolicyTest.php
        - tests/ReservationServiceTest.php
        - tests/TimeSlotTest.php
